<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 处理静态资源 -->
	<mvc:default-servlet-handler/>

	<mvc:annotation-driven ></mvc:annotation-driven>
	<!-- 拦截器 配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截路径 -->
			<mvc:mapping path="/main/**"/>
			<!-- 登录拦截器  -->
			<bean id="loginInteceptor" class="com.wall675.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<context:component-scan base-package="com.wall675.controller,com.wall675.service"></context:component-scan>
	<context:component-scan base-package="com.wall675.interceptor"></context:component-scan>

</beans>
