
<div class="row" id="charge">
		
		<div class="col-lg-12">
			<div v-show="type!=1" 
			:class="{alert:true,'alert-success':type==2,'alert-danger':type==3}">
        	{{type==2?"操作成功":"操作失败，请联系管理员"}}
        </div>	
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">车卡列表</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div id="dataTables-example_wrapper"
					class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					
					<div class="row">
						<div class="col-sm-12">
							<div id="dataTables-example_filter" class="dataTables_filter">
								<label>
									卡号： 
									<input type="text" v-model.trim.lazy="queryCondition.card_code" placeholder="输入卡号"
									class="form-control input-sm"
									aria-controls="dataTables-example">
								</label>
								<button type="button" class="btn btn-info" @click="search()">查询</button>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<table width="100%"
								class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
								role="grid" aria-describedby="dataTables-example_info"
								style="width: 100%;">
								<thead>
									<tr role="row">
										<td>序号</td>
  		                       			<td>卡号</td>
  										<td>卡类型</td>
  										<td>姓名</td>
  										<td>身份证号</td>
  										<td>性别</td>
  										<td>联系电话</td>
  										<td>手机</td>
  										<td>邮箱</td>
  										<td>住址</td>
  										<td>工作单位</td>
  										<td>注销标志</td>
  										<td>月票金额</td>
  										<td>冻结金额</td>
  										<td>钱包余额</td>
  										<td>卡状态</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in list"
										:class="{gradeA:true,even:index%2==0,odd:index%2==1}"
										role="row">
										<td class="sorting_1">{{item.card_id}}</td>
										<td>{{item.card_code}}</td>
										<td v-if="item.card_type==1">A卡</td>
										<td v-if="item.card_type==2">D卡</td>
										<td v-if="item.card_type==3">市民卡/社保卡</td>
										<td v-if="item.card_type==4">员工卡</td>
										<td v-if="item.card_type==5">维修调度卡</td>
										<td>{{item.name}}</td>
										<td>{{item.idcard}}</td>
										<td>{{item.sex}}</td>
										<td>{{item.telphone}}</td>
										<td>{{item.mobile}}</td>
										<td>{{item.email}}</td>
										<td>{{item.address}}</td>
										<td>{{item.work}}</td>
										<td v-if="item.zxbj=='0'">正常</td>
										<td v-if="item.zxbj=='1'">已注销</td>
										<td>{{item.monthly_money}}</td>
										<td>{{item.frozen_money}}</td>
										<td>{{item.wallet_money}}</td>
										<td v-if="item.status==1">正常</td>
										<td v-if="item.status==2">锁定</td>
										<td><button title="充值钱包" type="button" data-toggle="modal" data-target="#optDiv" v-show="(item.zxbj=='0'&&item.status==1)&&(item.card_type==1||item.card_type==2||item.card_type==3)"
												class="btn btn-info btn-circle" @click="showChargeData(index)">
												<i class="fa fa-check"></i>
											</button>
											
											<button title="充值月票" type="button" data-toggle="modal" data-target="#optDiv"  v-show="(item.zxbj=='0'&&item.status==1)&&(item.card_type==1||item.card_type==3)"
												class="btn btn-info btn-circle" @click="showMonthChargeData(index)">
												<i class="fa fa-check"></i>
											</button>
											
											
											</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="dataTables_info" id="dataTables-example_info"
								role="status" aria-live="polite">
								每页显示{{pageInfo.pageSize}}条，共{{pageInfo.total}}条</div>
						</div>
						<div class="col-sm-6">
							<div class="dataTables_paginate paging_simple_numbers"
								id="dataTables-example_paginate">
								<ul class="pagination">
									<li
										:class="{paginate_button:true, previous:true, disabled:pageInfo.isFirstPage}"
										aria-controls="dataTables-example" tabindex="0"
										id="dataTables-example_previous"><a
										href="javascript:void(0)" @click="search(pageInfo.pageNum-1)">上一页</a>
									</li>


									<li v-for="item in pageInfo.navigatepageNums"
										:class="{paginate_button:true, active:item==pageInfo.pageNum}"
										aria-controls="dataTables-example" tabindex="0"><a
										href="javascript:void(0)" @click="search(item)">{{item}}</a></li>

									<li
										:class="{paginate_button:true, next:true, disabled:pageInfo.isLastPage}"
										aria-controls="dataTables-example" tabindex="0"
										id="dataTables-example_next"><a href="javascript:void(0)"
										@click="search(pageInfo.pageNum+1)">下一页</a></li>
								</ul>
							</div>
						</div>
					</div>					
			</div>
		</div>
	</div>
</div>



	<!-- 充值界面弹出层 -->
	<div class="modal fade" id="optDiv" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog" style="width: 1200px;">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">{{judge=='wallet'?"钱包充值":"月票充值"}}</h4>
				</div>
				<div class="modal-body">
					<div  class="form-group">
						<label>卡号</label> <input class="form-control"
							readonly="readonly" :value="chargeData.card_code">
					</div>
					
					<div class="form-group" v-show="(judge=='wallet')&&(chargeData.card_type==1||chargeData.card_type==2||chargeData.card_type==3)">
						<label>钱包充值</label> <input	
							class="form-control" placeholder="每次充值金额为50的倍数，总金额不大于500" v-model.lazy.trim="chargeData.chg_money"
							 />
					</div>
					
					<div v-show="!valid[0]" class="alert alert-danger">
						非法：充值金额为50的倍数，总金额不大于500
					</div>
				
					<div class="form-group" v-show="(judge!='wallet')&&(chargeData.card_type==1||chargeData.card_type==3)">
						<label>月票充值</label> <input 
							class="form-control" placeholder="每月首充不能低于50元，其他充值金额为5的倍数"  v-model.lazy.trim="chargeData.chg_money"
							 />
					</div>	
					
					<div v-show="!valid[1]" class="alert alert-danger">
						非法：每月首充不能低于50元，其他充值金额为5的倍数"
					</div>
										
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button @click="charge()"  type="button" v-show="chargeData.card_type==1||chargeData.card_type==2||chargeData.card_type==3"
						class="btn btn-primary">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	
		



</div>
<!-- 相对路径 相对于/main/index.html -->
<script type="text/javascript" src="../js/charge.js"></script>

